.body{
    background: #03262b;  /* fallback for old browsers */
}

.form{
    background-color: rgb(51, 49, 59);
    align-self: center;
    border-radius: 5px;
    width: 550px;
    margin: 20px;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width:50%;
    padding: 10px 5px;
    margin: 5px;
}

.form_input{
    width: 60%;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #416c4ac9;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgb(182, 139, 139) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #c2d2df;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.footer{
    text-align: center;
}
.reminder-label {
    display: block;
    width: auto;
    height: auto;
    text-align: right;
}
.search-input {
  position:relative;
  width: 60%;
}

.product {
  display: inline-block;
  box-sizing: border-box;
}
.search-field-body{
  margin:10px;
  padding: 5px;
}

.search-field-box{
  display:flex;
  width:60px;
  position:unset;
    input[type=search] {
      border:solid 3px #fff;
      box-sizing:border-box;
      font-size:2em;
      height:2em;
      margin:15px;
      padding: 2px;
      transition:all 2s ease-in;
      width:30vw;
      z-index:1;
    }
}
